.header {
  display: flex;
  height: 50px;
  color: white;
  background-color: #002d62;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
}
video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.content {
  width: 100%;
  position: absolute;
  top: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
.temperature {
  display: flex;
  align-items: center;
}
.degree {
  font-size: 150px;
  margin-left: 20px;
}
.unit {
  display: flex;
  flex-direction: column;
}
.active-unit {
  font-size: 50px;
  cursor: pointer;
}
.deactivate-unit {
  font-size: 20px;
  cursor: pointer;
}
.other-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location {
  display: flex;
  color: white;
  padding-left: 50px;
  font-size: 30px;
  font-weight: bold;
}

.search-icon {
  color: white;
}

.icon {
  cursor: pointer;
  font-size: 30px;
  color: white;
}

button {
  width: 30px;
  height: 30px;
  background-color: #0b7dda;
  border: 0;
}
input {
  height: 24px;
}
input:focus {
  outline: none;
}

.refresh-icon {
  margin-right: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
